* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: quicksand;
    background-image: url(../assets/bg.png);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.school{
    font-weight: bold;
    font-size: larger;
}
.home{
    color: orange;
    font-weight: bold;
}
.about{
    color: skyblue;
    font-weight: bold;
}
.facilities{
    color: darkcyan;
    font-weight: bold;
}
.admission{
    color: burlywood;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.contact-btn button {
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.contact-btn button:hover {
    background-color: #e67e22;
}

.mobile-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: block;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 20px;
    }

    .logo {
        flex-grow: 1;
    }

    .contact-btn {
        display: none;
    }
}
/* section2 css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    order: 2;
}

.child-image {
    width: 70%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 100px;
}

.text-container {
    flex: 1;
    text-align: left;
    padding-left: 20px;
    order: 1;
}

h1 {
    font-size: 36px;
    color: #333;
}

.highlight {
    color: #f39c12;
}
.highlight2{
    color: skyblue;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    color: #555;
}

.action-btn {
    padding: 12px 30px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #e67e22;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .image-container {
        order: -1;
        margin-bottom: 20px;
    }

    .text-container {
        padding-left: 0;
    }
}
/* section 3 suru */



